.App {
  margin-left: 5%;
}

.landingText{
  margin-top: 15vh;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  font-style: italic;
  font-size: 2em;
}

.routeButton{
  padding: 5px 10px;
  background-color: white;
  border-radius: 3px;
  display: block;
  width: 130px;
  margin: 30vh auto 0vh auto;
}

